<!DOCTYPE html>
<html>
    <head>
        <title>Arbre de compétences</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css" integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <h3>Hello {{name}}</h3>
        <form action="/competenssator" method="GET">
<!--            <input type="text" name="name" placeholder="Enter your name" />-->

            <textarea name="yaml" placeholder="Enter your message" style="width: 400px;height: 300px;">{{yaml}}</textarea>
            <p>
                <input class="button" type="submit" value="Submit" />

                 <a class="button">A Bulma Button</a>
            </p>
        </form>
    </body>
</html>